<h1>Places</h1>

<li class="list-unstyled">
            <a href="/places/new/" class="btn btn-success">New Post</a>
  </li>
  </br>
<ul>
  <% for place in @places %>
    <li class="list-unstyled"><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>
